@import './../../assets/styles/Colors.scss';

.header__container {
  min-height: 90px;
  background-color: $primary;
  color: white;
  display: grid;
  align-items: center;
  grid-template-columns: 250px 1fr 150px;
}
.header__logo {
  max-width: auto;
  margin: 0 10px;
}
.logo {
  width: 100%;
}

.user-info {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 320px) {
}
