@import './../../assets/styles/Colors.scss';

.navbar__container {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 80px;
  // justify-self: end;
  margin: 0;
  height: 100%;
  background-color: $primary;
  box-shadow: $card;
}
.navbar {
  display: flex;
  margin: 0;
  height: 100%;
  flex-direction: column;
  padding: 0;
}

.navbar__item {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0;
  padding-left: 10px;
  font-size: 1em;
  transition: background-color 0.3s;
  border-bottom: 2px solid $hover;
  overflow: hidden;
  cursor: pointer;
  color: white;
  text-decoration: none;
  &:hover {
    background-color: $hover;
    border-bottom: 2px solid $secondary;
  }
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .navbar__container {
    position: absolute;
    left: -127px;
    height: auto;
    transition: all 0.3s;
    z-index: 1;
    // top: 80px;
  }
  .navbar__container.opened {
    left: 0;
  }
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 320px) {
}
