
// LEmon Palette
// #b8d1e1
// #e3eb7b
// #96b60b
// #005e09
// #07230b


 $primary:#33691e;
 $primary-dark: #003d00;
 $primary-light: #629749;

// Secondary
$secondary: #cddc39;
$secondary-dark: #99aa00;
$secondary-light: #ffff6e;


$background: #E1E2E1;
$background-dark: #414142;
$background-light: #F5F5F6;