@import './../../assets/styles/Colors.scss';

.grid__container {
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: 80px 1fr auto;
  grid-template-areas: 'header header'
                       'navbar content'
                       'footer footer';
  height: 100%;
}

.grid__header{
  grid-area: header;
}

.grid__content{
  grid-area: content;
  overflow-y: auto;
  width: 100%;
}

.grid__navbar{
  grid-area: navbar;
}

.grid__footer{
  grid-area: footer;
}

@media screen and (max-width: 1024px) { 
  
}
@media screen and (max-width: 768px) { 
  
.grid__container {
  grid-template-columns: 70px 100px 1fr;
  grid-template-rows: 80px 1fr auto;
  grid-template-areas: 'header header header'
                       'content content content'
                       'footer footer footer';
  height: 100%;
}
}
@media screen and (max-width: 480px) { 
  
}
@media screen and (max-width: 320px) { 
  
}